
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div  id="openweathermap-widget-9"></div>
		</div>
	</div>
	<br>
	<br>

	<%= form_tag(root_path, method: "get") do %>
	<div class="row">
		<div  class="form-group">
			<label>Pour voir la météo de n'importe quelle ville c'est ici</label>
			<%= text_field_tag 'address', nil, class: 'form-control form-control-lg', id: 'autocomplete', required: true, placeholder: 'rentre ici une adresse' %>
			<br>
		

		<%= submit_tag "Rechercher", class: "btn btn-primary btn-styled btn-block btn-lg" %>
		<% end %>
		</div>
	</div>



	<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 9,cityid: '2998324',appid: 'e44a6779a9022989c2037ae9e20d8749',units: 'metric',containerid: 'openweathermap-widget-9',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>